{% extends './base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <h3>Image links for user: {{ user.get_username }}</h3>
    <h3>Image id: {{ image_id }}</h3>
    <h3>Tier name: {{ tier_name }}</h3>

    {% if original_link %}
        <h3>Original link: {{ original_link }}</h3>
    {% endif %}
    {% if expiring_link %}
        <h3>Expiring link: {{ expiring_link }}</h3>
    {% endif %}
    {% for height, url in thumbnail_links.items %}
        <h3>Thumbnail link for height {{ height }}: {{ url }}</h3>
    {% endfor %}

    <a href="/upload_image"</a>Upload image<br>
    <a href="/images_list"</a>List of your images<br><br>
    <a href="/logout"</a>Logout

    {% endif %}
{% endblock %}